*
!.gitignore
!README.md
!Snakefile
!scripts/
!profiles/
!profiles/*
!scripts/*
!test
!LICENSE
!test/input_files_test/
!test/input_files_test/ENCFF041KJT.chr20.fastq.gz
!test/input_files_test/ENCFF462SCV.chr20.fastq.gz
!test/input_files_test/ENCFF495ZPY.chr20.fastq.gz
!test/input_files_test/ENCFF616FCF.chr20.fastq.gz
!test/input_files_test/mate2_5p.fasta
!test/input_files_test/mate1_5p.fasta
!test/input_files_test/mate2_3p.fasta
!test/input_files_test/mate1_3p.fasta
!test/get_test_data.sh
!test/get_test_subset.py
!test/test_singularity_execution/
!test/test_singularity_execution/wlib
!test/test_singularity_execution/wlib/*
!test/test_singularity_execution/means_crosslink.tsv
!test/test_singularity_execution/means_peak_center.tsv
!test/test_singularity_execution/performance_evaluation.py
!test/test_singularity_execution/test_slurm.sh
!test/test_singularity_execution/config.yaml
!test/test_singularity_execution/test_local.sh
!input_files
!input_files/mate2_5p.fasta
!input_files/mate1_5p.fasta
!input_files/mate2_3p.fasta
!input_files/mate1_3p.fasta
!install
!images
!images/*
!install/*
!workflow
!tmpdir
!tmpdir/.gitignore
!workflow/*
!workflow/*/*
!profiles/[!__pycache__]
!profiles/[!__pycache__]/*
!config.yaml
!run_slurm_singularity.sh
!run_local_singularity.sh
!envs
!envs/*
